<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortner</title>
</head>
<body>
  <h1>URL Shortner</h1>
  <form method="POST" action="/url">
    <label>Enter your Orignal URL</label>
    <input 
    type="text" 
    name="url"
    placeholder="https://example.com"
     />
    <button type="submit" >Generate</button> 
  </form>
  <% if (locals.id) { %>
   <p>URL Generated : http://localhost:8001/url/<%= id %> </p>
  <% } %>
</body>
</html>